# Core dependencies
openai
streamlit==1.31.1
python-dotenv==1.0.1
pandas==2.2.1
altair==5.2.0

# Document handling
fpdf==1.7.2
python-pptx==1.0.2  # Updated to latest stable version

# Data visualization
matplotlib==3.8.3
seaborn==0.13.2

# API & Services
youtube-transcript-api==0.6.3
